<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img height=300 src=" {{url_for('send_image', filename=image_list[number])}}">

<form id="next-form" action="{{ url_for('get_gallery') }}" method="POST">
    <input type="submit" name="category" value="overweight">
    <input type="submit" name="category" value="normalweight">
    <input type="submit" name="category" value="delete">
</form>
<p>{{count}} images sorted so far</p>
</body>
</html>